#userImage {
  max-height: 50vh;
  max-width: 50vh;
  display: inline-block;
}

.userThumbnail {
  max-height: 8vh;
  max-width: 8vh;
  border-radius: 7px;
}

#profile {
  /*text-align: center;*/
  /*border: 5px solid blue;*/
  /*font-size: 1px;*/
}
#userTitle{
  text-align: center;
}
#userInfo{
  font-size: 30px;
}

#favoriteImage {
  max-height: 25vh;
  max-width: 25vh;
  padding: 5px;
}

#unfavoriteButton {
  padding: 5px;

}
